<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>
<div class="page-title">Product List</div>
<div align="center">

    <h1>Product Manager</h1>
    <a th:href="@{/productList/create}">Create New Product</a>

    <br/><br/>

    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/productList/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">Product ID</a>
            </th>
            <th>
                <a th:href="@{'/productList/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">Name</a>
            </th>
            <th>
                <a th:href="@{'/productList/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}">Price</a>
            </th>

            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${listProducts}">
            <td th:text="${product.id}">Product ID</td>
            <td th:text="${product.name}">Name</td>
            <td th:text="${product.price}">Price</td>
            <td>
                <a th:href="@{/admin/editProduct(id = ${product.id})}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{/admin/deleteProduct(id = ${product.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>&nbsp;</div>
    <div><i>Sorted by [[${sortField}]] in [[${sortDir}]] order</i></div>
    <div>&nbsp;</div>
    <div th:if="${totalPages > 1}">
        Total Items: [[${totalItems}]]
        &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;

        <a th:if="${currentPage > 1}" th:href="@{'/productList/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
        <span th:unless="${currentPage > 1}">First</span>
        &nbsp;&nbsp;

        <a th:if="${currentPage > 1}" th:href="@{'/productList/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
        <span th:unless="${currentPage > 1}">Previous</span>

        &nbsp;&nbsp;

        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
			<a th:if="${currentPage != i}" th:href="@{'/productList/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
			<span th:unless="${currentPage != i}">[[${i}]]</span>
			&nbsp;
		</span>

        <a th:if="${currentPage < totalPages}" th:href="@{'/productList/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
        <span th:unless="${currentPage < totalPages}">Next</span>
        &nbsp;&nbsp;

        <a th:if="${currentPage < totalPages}" th:href="@{'/productList/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
        <span th:unless="${currentPage < totalPages}">Last</span>
    </div>
</div>
</body>
</html>